<%- include('partials/head.ejs') %>
  <title>الدورات</title>
</head>
<%- include('partials/header.ejs', { logged: loggedIn, userr: user }) %>

<div style="margin: 0 5%">
  <h1 data-aos="fade-down" data-aos-duration="2000">الدورات</h1>

  <div class="row justify-content-start" style="margin-right: 1%">

    <% for(i = 0; i < courses.length; i++) {%>
      <a href="/course/<%= courses[i].course_id%>">
        <div data-aos="fade-down" data-aos-duration="2000" class="card" style="width: 18rem; margin: 1rem 1rem; background-color: #23282e;">
          <img src="<%= courses[i].course_image_link%>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= courses[i].course_title%></h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="/course/<%= courses[i].course_id%>" class="btn btn-success">Go somewhere</a> -->
          </div>
        </div>
      </a>
      
    <% } %>
    
</div>

</div>

<%- include('partials/footer.ejs') %>
