<%- include('partials/head.ejs') %>
  <title>حسابي</title>
</head>
<%- include('partials/header.ejs', { logged: loggedIn, userr: user }) %>


  <div  style="margin: 0 5%">
    <h2>حسابي الشخصي</h2><br><br>
    <p>الأسم الكامل: <%= user.first_name + " " + user.last_name%></p>
    <p>البريد الإلكتروني: <%= user.email%></p><br>
    <form action="/logout" method="POST">
      <input type="submit" value="خروج" class="btn btn-success">
    </form> 
  
    <br>
    <br>
    <h2 data-aos="fade-down" data-aos-duration="1500">دوراتي</h2>
    
    <div class="row justify-content-start" style="margin-right: 1%">
      <% for(i = 0; i < courses.length; i++) {%>        
        <div data-aos="fade-down" data-aos-duration="1500" class="card" style="width: 18rem; margin: 1rem 1rem; background-color: #23282e;">
          <a href="/course/<%= courses[i].course_id%>">
            <img src="<%= courses[i].course_image_link%>" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= courses[i].course_title%></h5>
            <form action="/removeCourseFromUser/<%= courses[i].course_id %>" method="POST">
              <input type="submit" value="إزالة" class="btn btn-danger">
            </form>
          </div>
        </div>
      <% } %>
    </div>

  </div>

<%- include('partials/footer.ejs') %>
